{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'registrationForm'}}) }}

    <div class="regFormHead text-center">
        <div class="h3">Registration</div>
        <span>Already Registerd? <a href="{{ path('fos_user_security_login') }}">Log in</a></span>
        <div class="formTitleBar"></div>
    </div>

{{ form_widget(form) }}
    <div class="regFormDt">

        <div class="inputGroup">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}

            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}

            {{ form_label(form.plainPassword.first) }} & {{ form_label(form.plainPassword.second) }}

            <div class="passInput clearfix">
                {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Password'}}) }}
            </div>
            {{ form_errors(form.plainPassword.first) }}
        </div>
    <button type="submit" name="button">{{ 'registration.submit'|trans }}</button>
    </div>

{{ form_end(form) }}
